go 1.24.0

use (
	.
	./e2e
	./hack/tools
	./manifests-gen
)

replace (
	github.com/metal3-io/baremetal-operator => github.com/metal3-io/baremetal-operator v0.5.1
	github.com/openshift/cluster-api-actuator-pkg => github.com/openshift/cluster-api-actuator-pkg v0.0.0-20251212150432-4a60119d9691
	github.com/openshift/cluster-api-actuator-pkg/testutils => github.com/openshift/cluster-api-actuator-pkg/testutils v0.0.0-20251212150432-4a60119d9691
	sigs.k8s.io/cluster-api => sigs.k8s.io/cluster-api v1.11.3
	sigs.k8s.io/cluster-api-provider-azure => github.com/openshift/cluster-api-provider-azure v0.0.0-20251202084521-c2e0e38d1e0e
)

// FIXME(chrischdi): DONOTMERGE only for testing purposes until we have a merged API PR
replace (
	github.com/openshift/api => github.com/chrischdi/openshift-api v0.0.0-20251216151131-93185f4149ff
	github.com/openshift/client-go => github.com/openshift-cloud-team/client-go v0.0.0-20251216151710-bf6a5ccb43dc
)
