---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    exclude.release.openshift.io/internal-openshift-hosted: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    release.openshift.io/feature-set: "CustomNoUpgrade,TechPreviewNoUpgrade"
  name: openshift-capi-operator
rules:
# Being an installer, the required RBAC is necessarily a lot
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - '*'
