---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cluster-capi-installer
  namespace: openshift-cluster-api-operator
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    exclude.release.openshift.io/internal-openshift-hosted: "true"
    release.openshift.io/feature-set: "CustomNoUpgrade,TechPreviewNoUpgrade"
  labels:
    k8s-app: cluster-capi-installer
spec:
  selector:
    matchLabels:
      k8s-app: cluster-capi-installer
  replicas: 1
  template:
    metadata:
      annotations:
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
        openshift.io/required-scc: restricted-v2
      labels:
        k8s-app: cluster-capi-installer
    spec:
      serviceAccountName: cluster-capi-installer
      containers:
      - name: installer
        image: registry.ci.openshift.org/openshift:cluster-capi-operator
        command:
        - /installer
        args:
        - --images-json=/etc/cluster-api-config-images/images.json
        - --diagnostics-address=:8443
        env:
        - name: RELEASE_VERSION
          value: "0.0.1-snapshot"
        ports:
        - containerPort: 9440
          name: health
          protocol: TCP
        - containerPort: 8443
          name: diagnostics
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
        terminationMessagePolicy: FallbackToLogsOnError
        volumeMounts:
        - name: images
          mountPath: /etc/cluster-api-config-images
          readOnly: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: 9440
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 9440
          initialDelaySeconds: 5
          periodSeconds: 10
      nodeSelector:
        node-role.kubernetes.io/master: ""
      priorityClassName: system-node-critical
      restartPolicy: Always
      tolerations:
      - key: "node-role.kubernetes.io/master"
        operator: "Exists"
        effect: "NoSchedule"
      volumes:
      - name: images
        configMap:
          defaultMode: 420
          name: cluster-capi-operator-images
