apiVersion: v1
kind: Service
metadata:
  annotations:
    exclude.release.openshift.io/internal-openshift-hosted: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    release.openshift.io/feature-gate: "ClusterAPIMachineManagement"
    service.beta.openshift.io/serving-cert-secret-name: capi-controllers-webhook-service-cert
  name: capi-controllers-webhook-service
  namespace: openshift-cluster-api
spec:
  ports:
  - name: capi-webhook-server
    port: 9443
    targetPort: webhook-server
  selector:
    k8s-app: capi-controllers
  type: ClusterIP
  sessionAffinity: None
