---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: openshift-cluster-api
  name: capi-controllers
  annotations:
    exclude.release.openshift.io/internal-openshift-hosted: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    release.openshift.io/feature-gate: "ClusterAPIMachineManagement"
---
# Required by the kubeconfig controller. Can be removed when the kubeconfig
# controller is removed.
apiVersion: v1
kind: Secret
metadata:
  name: capi-controllers-token
  namespace: openshift-cluster-api
  annotations:
    kubernetes.io/service-account.name: capi-controllers
    exclude.release.openshift.io/internal-openshift-hosted: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    release.openshift.io/feature-gate: "ClusterAPIMachineManagement"
    release.openshift.io/create-only: "true"
type: kubernetes.io/service-account-token
