---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: openshift-cluster-api
  name: cluster-capi-operator
  annotations:
    exclude.release.openshift.io/internal-openshift-hosted: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    release.openshift.io/feature-gate: "TechPreviewNoUpgrade"
